.main-container {
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.note {
    position: absolute;
    bottom: 0;
    padding: 20px;
    text-align: center;
    width: 100%;
}